.myInput {
  display: flex;
  align-items: center;
  gap: 20px;
  input {
    padding: 4px 8px;
  }
}
.pwdCheck {
  display: flex;
  margin-top: 8px;
  gap: 16px;
  .pwdCheck__item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #d2d2d2;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    .item__svgWrapper {
      $svgSize: 18px;
      min-width: $svgSize;
      min-height: $svgSize;
      width: $svgSize;
      height: $svgSize;
      svg {
        path {
          stroke: #d2d2d2;
        }
      }
    }
  }
  .pwdCheck__item--passed {
    color: #659e75;
    .item__svgWrapper {
      svg {
        path {
          stroke: #659e75;
        }
      }
    }
  }
}

.fontColorTest {
  color: #1519f8;
}
